* {
  box-sizing: border-box;
}
body,
html,
p,
div,
picture,
section,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  --bg-color: hsl(30, 38%, 92%);
  --green: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --darker-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --text-color: #333;
  --lighter-text-color: #444;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Fraunces", serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--main-font);
}

a,
a:hover {
  text-decoration: none;
}
main {
  height: 100vh;
  width: 100%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  gap: 40px;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 15px;
  height: 500px;
  width: 700px;
}

.actions .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--green);
  border-radius: 10px;
  color: var(--white);
  padding-block: 20px;
}
.card .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 0 2em;
}
.card p.info {
  color: var(--lighter-text-color);
}
.card .title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  margin-block: 0.4em 1.1em;
}

.card .price {
  margin-block: 1.5em 1.1em;
  font-family: var(--secondary-font);
}

.card .price .current {
  font-size: 3rem;
  color: var(--green);
}
.card .details strong {
  color: var(--lighter-text-color);
  letter-spacing: 4px;
  font-size: 0.9rem;
  font-weight: 500;
}
.hide {
  display: none;
}
